@import "reset.css";
html,
body,
.wap {
  width: 100%;
  height: 100%;
  background: none;
}
html {
  font-size: 62.5%;
}
.wap section {
  -webkit-box-flex: 1;
  overflow-y: auto;
  background-color: #f2f2f2;
}
.wap section::-webkit-scrollbar {
  width: 0;
}
.wap section .y_gd_main .info {
  background-color: #fff;
  padding: 0 1rem;
  box-sizing: border-box;
  line-height: 3.5rem;
}
.wap section .y_gd_main .info b {
  font-weight: 600;
}
.wap section .y_gd_main .info span {
  float: right;
}
.wap section .y_gd_main .info span img {
  vertical-align: middle;
  width: 0.8rem;
}
.wap section .y_gd_main .opinion {
  margin-top: 0.8rem;
}
