@import url("reset.css");
.SHELL-containter,
body,
html {
  width: 100%;
  height: 100%;
  background: none;
}
html {
  font-size: 62.5%;
}
.SHELL-containter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.SHELL-containter header {
  width: 100%;
  height: 3.5rem;
  background: #f7f7f7;
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 1rem;
  box-sizing: border-box;
  line-height: 3.5rem;
}
.SHELL-containter header .head-left img {
  width: auto;
  height: 1.7rem;
  background: none;
}
.SHELL-containter header .head-center {
  font-size: 1.8rem;
  -webkit-box-flex: 1;
  text-align: center;
}
.SHELL-containter header .head-right img {
  width: auto;
  height: 1.8rem;
  background: none;
}
.SHELL-containter section {
  overflow-y: auto;
  -webkit-box-flex: 1;
}
.SHELL-containter section::-webkit-scrollbar {
  width: 0;
}
.SHELL-containter section .SHELL-main-box1 {
  font-size: 1.2rem;
  width: 100%;
  height: 9.7rem;
  background: none;
  border-bottom: 10px solid #f7f7f7;
  padding: 10px;
  box-sizing: border-box;
}
.SHELL-containter section .SHELL-main-box1 .SM-red {
  color: #fda671;
}
.SHELL-containter section .SHELL-main-box2 {
  font-size: 1.2rem;
  width: 100%;
  height: auto;
  background: none;
}
.SHELL-containter section .SHELL-main-box2 h1 {
  padding: 0 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  background: none;
  font-size: 1.4rem;
  line-height: 3rem;
  border-bottom: 1px solid #f7f7f7;
}
.SHELL-containter section .SHELL-main-box2 dl {
  width: 100%;
  height: auto;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}
.SHELL-containter section .SHELL-main-box2 dl dt img {
  width: auto;
  height: 7.4rem;
  background: none;
}
.SHELL-containter section .SHELL-main-box2 dl dd {
  -webkit-box-flex: 1;
  padding-left: 10px;
  box-sizing: border-box;
  color: #262626;
}
.SHELL-containter section .SHELL-main-box2 dl dd .dd-content {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.SHELL-containter section .SHELL-main-box2 dl dd .dd-content .dd-left {
  padding-top: 7px;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  color: #666666;
}
.SHELL-containter section .SHELL-main-box2 dl dd .dd-content .dd-right {
  padding-top: 5px;
  box-sizing: border-box;
}
.SHELL-containter section .SHELL-main-box2 dl dd .dd-content .dd-right span {
  display: block;
  line-height: 1.2rem;
}
.SHELL-containter section .SHELL-main-box2 .SHELL-main-box2-bottom {
  font-size: 1.2rem;
  width: 100%;
  height: 3rem;
  background: none;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: right;
  line-height: 3rem;
}
.SHELL-containter section .SHELL-main-box2 .SHELL-main-box2-bottom span {
  margin-right: 3px;
  line-height: 3rem;
}
.SHELL-containter section .SHELL-main-box2 .SHELL-main-box2-bottom .total-red {
  color: #fe7e1d;
}
.SHELL-containter section .SHELL-main-box3 {
  font-size: 1.2rem;
  width: 100%;
  height: auto;
  background: none;
  border-top: 10px solid #f2f2f2;
}
.SHELL-containter section .SHELL-main-box3 h1 {
  padding: 0 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  background: none;
  font-size: 1.4rem;
  line-height: 3rem;
  border-bottom: 1px solid #f7f7f7;
}
.SHELL-containter section .SHELL-main-box3 .SHELL-main-box3-content {
  font-size: 1.2rem;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  background: none;
}
.SHELL-containter section .SHELL-main-box3 .SHELL-main-box3-content .mypred {
  color: #fe7e1d;
}
.SHELL-containter section .SHELL-main-box3 .SHELL-main-box3-content p {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.SHELL-containter section .SHELL-main-box3 .SHELL-main-box3-content span img {
  padding-top: 4px;
  box-sizing: border-box;
  width: auto;
  height: 5rem;
  background: none;
}
.SHELL-containter section .SHELL-main-box3 .SHELL-main-box3-content .resoni {
  display: block;
}
.SHELL-containter section .SHELL-main-box3 .SHELL-main-box3-content .reasonspan {
  -webkit-box-flex: 1;
  display: block;
}
.SHELL-containter section .SHELL-main-box3 .SHELL-main-box3-content .refusei {
  display: block;
}
.SHELL-containter section .SHELL-main-box3 .SHELL-main-box3-content .refusespan {
  -webkit-box-flex: 1;
  display: block;
}
.SHELL-containter section .SHELL-main-bottom {
  width: 100%;
  height: 3rem;
  background: none;
  border-top: 1px solid #f2f2f2;
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 3rem;
}
.SHELL-containter section .SHELL-main-bottom span {
  margin-top: 5px;
  float: right;
  width: 6rem;
  height: 2rem;
  background: none;
  border: 1px solid #333333;
  line-height: 2rem;
  text-align: center;
  border-radius: 6px;
}
.SHELL-containter section .SHELL-main-bottom1 {
  width: 100%;
  height: 3rem;
  background: none;
  border-top: 1px solid #f2f2f2;
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 3rem;
  text-align: right;
  color: #f26f07;
}
.SHELL-containter section .SHELL-main-bottom1 span {
  width: 6rem;
  height: 2rem;
  background: none;
  display: inline-block;
  text-align: right;
  border: 1px solid #f26f07;
  line-height: 2rem;
  text-align: center;
  border-radius: 4px;
}
.SHELL-containter section .SHELL-main-bottom1 span .fagoods {
  padding-left: 1rem;
  box-sizing: border-box;
}
.SHELL-containter section .SHELL-main-p {
  padding: 0 10px;
  box-sizing: border-box;
  line-height: 3rem;
  font-size: 14px;
}
.SHELL-containter section .SHELL-main-p span > b {
  color: #fc821f;
}
.SHELL-containter section .SHELL-main-p img {
  width: auto;
  height: 1.4rem;
  background: none;
}
