@import url("reset.css");
.A-containter,
body,
html {
  width: 100%;
  height: 100%;
  background: none;
}
html {
  font-size: 62.5%;
}
.A-containter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.A-containter .SY-containter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}
.A-containter .SY-containter header {
  width: 100%;
  height: 3.5rem;
  background: #f7f7f7;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.A-containter .SY-containter header h5 {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 3.5rem;
  text-align: center;
}
.A-containter .SY-containter header span {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
}
.A-containter .SY-containter header span img {
  width: auto;
  height: 1.9rem;
  background: none;
}
.A-containter .SY-containter section {
  -webkit-box-flex: 1;
  overflow-y: auto;
}
.A-containter .SY-containter section::-webkit-scrollbar {
  width: 0;
}
.A-containter .SY-containter section .main .main-box-one {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 10rem;
  background: none;
  position: relative;
  border-bottom: 1px solid #bfbfbf;
}
.A-containter .SY-containter section .main .main-box-one .main-box-one-left {
  text-align: center;
}
.A-containter .SY-containter section .main .main-box-one .main-box-one-left dt {
  padding: 2rem 1.2rem 0.8rem 1.2rem;
  box-sizing: border-box;
}
.A-containter .SY-containter section .main .main-box-one .main-box-one-left dt img {
  width: auto;
  height: 4.5rem;
  background: none;
}
.A-containter .SY-containter section .main .main-box-one .main-box-one-right {
  -webkit-box-flex: 1;
  margin-top: 2.5rem;
}
.A-containter .SY-containter section .main .main-box-one .main-box-one-right .main-box-one-right-line {
  padding-left: 1rem;
  box-sizing: border-box;
  width: 100%;
  height: 6rem;
  background: none;
  border-left: 1px solid #cccccc;
}
.A-containter .SY-containter section .main .main-box-one .main-box-one-right .main-box-one-right-line h1 {
  font-size: 1.5rem;
  display: inline;
}
.A-containter .SY-containter section .main .main-box-one .main-box-one-right .main-box-one-right-line .red img {
  width: auto;
  height: 1.3rem;
  background: none;
}
.A-containter .SY-containter section .main .main-box-one .main-box-one-right .main-box-one-right-line h2 {
  display: inline;
}
.A-containter .SY-containter section .main .main-box-one .main-box-one-right .main-box-one-right-line p {
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}
.A-containter .SY-containter section .main .main-box-one .main-box-one-right .blackRed {
  color: #ff4908;
}
.A-containter .SY-containter section .main .main-box-one .info-one img {
  position: absolute;
  width: auto;
  height: 1.8rem;
  background: none;
  right: 1rem;
  top: 4rem;
}
.A-containter .SY-containter section .main .main-box-two {
  border-top: 1rem solid #f2f2f2;
}
.A-containter .SY-containter section .main .main-box-two .MT-title {
  width: 100%;
  height: 3.5rem;
  background: none;
  text-align: center;
  line-height: 3.5rem;
  color: #ffa471;
}
.A-containter .SY-containter section .main .main-box-two .MT-title h3 {
  font-size: 1.4rem;
  color: #ffa471;
  display: inline;
}
.A-containter .SY-containter section .main .main-box-two .MT-ultable {
  border-bottom: 0.9rem solid #f2f2f2;
}
.A-containter .SY-containter section .main .main-box-two .MT-ultable ul {
  width: 100%;
  height: 7.5rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.A-containter .SY-containter section .main .main-box-two .MT-ultable ul li {
  -webkit-box-flex: 1;
  border: 1px solid #f2f2f2;
}
.A-containter .SY-containter section .main .main-box-two .MT-ultable ul li dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
}
.A-containter .SY-containter section .main .main-box-two .MT-ultable ul li dl dt {
  padding: 2.5rem 1.2rem 2.5rem 1rem;
  box-sizing: border-box;
}
.A-containter .SY-containter section .main .main-box-two .MT-ultable ul li dl dd {
  padding-top: 1.4rem;
  box-sizing: border-box;
}
.A-containter .SY-containter section .main .main-box-two .MT-ultable ul li dl dd h4 {
  font-size: 1.5rem;
}
.A-containter .SY-containter section .main .main-box-two .MT-ultable ul li dl dt img {
  width: auto;
  height: 2.3rem;
  background: none;
}
.A-containter .SY-containter section .main .main-box-three {
  padding: 0 1.1rem;
  box-sizing: border-box;
  width: 100%;
  height: 3.5rem;
  background: none;
  border-bottom: 1px solid #f5f5f5;
  line-height: 3.5rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.A-containter .SY-containter section .main .main-box-three .main-box-three-left img {
  width: auto;
  height: 1.7rem;
  background: none;
  padding-right: 0.8rem;
  box-sizing: border-box;
}
.A-containter .SY-containter section .main .main-box-three .main-box-three-center {
  -webkit-box-flex: 1;
}
.A-containter .SY-containter section .main .main-box-three .main-box-three-center h5 {
  display: inline;
  font-size: 1.5rem;
}
.A-containter .SY-containter section .main .main-box-three .main-box-three-right img {
  width: auto;
  height: 1.8rem;
  background: none;
}
.A-containter .SY-containter section .main .main-box-four {
  padding: 0 1.1rem;
  box-sizing: border-box;
  border-bottom: 0.9rem solid #f5f5f5;
}
.A-containter .SY-containter section .main .main-box-four .main-box-four1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 6rem;
  background: none;
}
.A-containter .SY-containter section .main .main-box-four .main-box-four1 .main-box-four1-left {
  padding: 1rem 1.5rem 1rem 0;
  box-sizing: border-box;
}
.A-containter .SY-containter section .main .main-box-four .main-box-four1 .main-box-four1-left img {
  width: auto;
  height: 4rem;
  background: none;
}
.A-containter .SY-containter section .main .main-box-four .main-box-four1 .main-box-four1-center {
  -webkit-box-flex: 1;
  padding-top: 1rem;
  box-sizing: border-box;
}
.A-containter .SY-containter section .main .main-box-four .main-box-four1 .main-box-four1-center h6 {
  font-size: 1.4rem;
}
.A-containter .SY-containter section .main .main-box-four .main-box-four1 .main-box-four1-center p {
  color: #9c9c9c;
}
.A-containter .SY-containter section .main .main-box-four .main-box-four1 .main-box-four1-right {
  padding-top: 2.4rem;
  box-sizing: border-box;
  color: #9c9c9c;
}
.A-containter .YH-containter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}
.A-containter .ADD-containter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}
.A-containter .STATUS-containter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}
.A-containter .STATUS-containter header {
  width: 100%;
  height: 4.7rem;
  background: #f7f7f7;
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 1rem;
  box-sizing: border-box;
  line-height: 4.7rem;
}
.A-containter .STATUS-containter header .head-left img {
  width: auto;
  height: 1.7rem;
  background: none;
}
.A-containter .STATUS-containter header .head-center {
  font-size: 1.6rem;
  -webkit-box-flex: 1;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 16rem;
  height: 2.5rem;
  background: none;
  line-height: 2.5rem;
  border: 1px solid #ff7f1c;
  margin: 1.2rem 4rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.A-containter .STATUS-containter header .head-center > div {
  -webkit-box-flex: 1;
}
.A-containter .STATUS-containter header .head-center .empty {
  text-align: center;
  color: #ff7f1c;
}
.A-containter .STATUS-containter header .head-center .myorange {
  text-align: center;
  background: #ff7f1c;
  color: white;
}
.A-containter .STATUS-containter header .head-right img {
  width: auto;
  height: 1.8rem;
  background: none;
}
.A-containter .STATUS-containter section {
  overflow-y: auto;
  -webkit-box-flex: 1;
}
.A-containter .STATUS-containter section::-webkit-scrollbar {
  width: 0;
}
.A-containter .STATUS-containter section .main-nav {
  width: 100%;
  height: 5rem;
  background: none;
  border-bottom: 1px solid #d9d9d9;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.A-containter .STATUS-containter section .main-nav .main-nav-left {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  text-align: center;
  -webkit-box-flex: 1;
}
.A-containter .STATUS-containter section .main-nav .main-nav-left dl {
  width: 0;
  padding-top: 0.4rem;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  position: relative;
  font-size: 1.4rem;
}
.A-containter .STATUS-containter section .main-nav .main-nav-left dl h1 {
  font-size: 1.6rem;
}
.A-containter .STATUS-containter section .main-nav .main-nav-left dl dd > span {
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #ff8939;
  position: absolute;
  bottom: -1px;
  left: 0;
  display: none;
}
.A-containter .STATUS-containter section .main-nav .main-nav-left .special {
  color: #ff8939;
}
.A-containter .STATUS-containter section .main-nav .main-nav-left .special > span {
  display: block;
}
.A-containter .STATUS-containter section .main-nav .MN-more {
  position: absolute;
  left: 0;
  top: 1rem;
}
.A-containter .STATUS-containter section .main-nav .main-nav-right {
  position: relative;
}
.A-containter .STATUS-containter section .main-nav .main-nav-right > img {
  width: 13px;
  height: auto;
  background: none;
  margin: 2.2rem 1.5rem;
}
.A-containter .STATUS-containter section .main-content-one {
  width: 100%;
  height: auto;
  background: none;
  border-top: 9px solid #f3f3f3;
}
.A-containter .STATUS-containter section .main-content-one .main-content-one-top {
  width: 100%;
  height: 3rem;
  background: none;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 1.1rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 3rem;
  font-weight: bold;
}
.A-containter .STATUS-containter section .main-content-one .main-content-one-top .main-content-one-top-left {
  -webkit-box-flex: 1;
}
.A-containter .STATUS-containter section .main-content-one .main-content-one-top .main-content-one-top-right {
  color: #ff801d;
}
.A-containter .STATUS-containter section .main-content-one .main-content-one-text {
  padding: 0 1.1rem;
  width: 100%;
  height: 8.2rem;
  background: none;
  padding-top: 9px;
  box-sizing: border-box;
}
.A-containter .STATUS-containter section .main-content-one .main-content-one-text p {
  color: #656565;
}
.A-containter .STATUS-containter section .main-content-two {
  width: 100%;
  height: auto;
  background: none;
  border-top: 9px solid #f3f3f3;
}
.A-containter .STATUS-containter section .main-content-two .main-content-one-top {
  width: 100%;
  height: 3rem;
  background: none;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 1.1rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 3rem;
  font-weight: bold;
}
.A-containter .STATUS-containter section .main-content-two .main-content-one-top .main-content-one-top-left {
  -webkit-box-flex: 1;
}
.A-containter .STATUS-containter section .main-content-two .main-content-one-top .main-content-one-top-right {
  color: #ff801d;
}
.A-containter .STATUS-containter section .main-content-two .main-content-one-text {
  padding: 0 1.1rem;
  width: 100%;
  height: 4.8rem;
  background: none;
  padding-top: 9px;
  box-sizing: border-box;
}
.A-containter .STATUS-containter section .main-content-two .main-content-one-text p {
  color: #656565;
}
.A-containter .STATUS-containter section .main-content-three {
  width: 100%;
  height: auto;
  background: none;
  border-top: 9px solid #f3f3f3;
}
.A-containter .STATUS-containter section .main-content-three .main-content-one-top {
  width: 100%;
  height: 3rem;
  background: none;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 1.1rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 3rem;
  font-weight: bold;
}
.A-containter .STATUS-containter section .main-content-three .main-content-one-top .main-content-one-top-left {
  -webkit-box-flex: 1;
}
.A-containter .STATUS-containter section .main-content-three .main-content-one-top .main-content-one-top-right {
  color: #ff801d;
}
.A-containter .STATUS-containter section .main-content-three .main-content-one-text {
  padding: 0 1.1rem;
  width: 100%;
  height: 4.8rem;
  background: none;
  padding-top: 9px;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.A-containter .STATUS-containter section .main-content-three .main-content-one-text p {
  color: #656565;
}
.A-containter .STATUS-containter section .main-content-three .main-content-one-text .main-content-one-top-left {
  -webkit-box-flex: 1;
}
.A-containter .STATUS-containter section .main-content-three .main-content-one-text .main-content-one-top-right {
  line-height: 4rem;
  color: #ff801d;
}
.A-containter .SHOP-containter {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}
.A-containter .SHOP-containter header {
  width: 100%;
  height: 4.7rem;
  background: #f7f7f7;
  border-bottom: 1px solid #bfbfbf;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  padding: 0 1rem;
  box-sizing: border-box;
  line-height: 4.7rem;
}
.A-containter .SHOP-containter header .head-left img {
  width: auto;
  height: 1.7rem;
  background: none;
}
.A-containter .SHOP-containter header .head-center {
  font-size: 1.8rem;
  -webkit-box-flex: 1;
  text-align: center;
}
.A-containter .SHOP-containter header .head-right img {
  width: auto;
  height: 1.8rem;
  background: none;
}
.A-containter .SHOP-containter section {
  overflow-y: auto;
  -webkit-box-flex: 1;
  background: #f2f2f2;
}
.A-containter .SHOP-containter section::-webkit-scrollbar {
  width: 0;
}
.A-containter .SHOP-containter section .SC-main-box-one {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 10px;
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding-left: 10px;
  box-sizing: border-box;
}
.A-containter .SHOP-containter section .SC-main-box-one .SC-main-box-one1 {
  padding-right: 10px;
  box-sizing: border-box;
  line-height: 4rem;
  width: 100%;
  height: 4rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #bfbfbf;
}
.A-containter .SHOP-containter section .SC-main-box-one .SC-main-box-one1 .SC-main-box-one1-left > img {
  width: 2.3rem;
  height: auto;
  background: none;
  margin-right: 10px;
}
.A-containter .SHOP-containter section .SC-main-box-one .SC-main-box-one1 .SC-main-box-one1-center {
  font-size: 1.6rem;
  -webkit-box-flex: 1;
}
.A-containter .SHOP-containter section .SC-main-box-one .SC-main-box-one1 .SC-main-box-one1-right > img {
  width: 1rem;
  height: auto;
  background: none;
}
.A-containter .SHOP-containter section .SC-main-box-one .SC-main-box-one2 {
  padding-right: 10px;
  box-sizing: border-box;
  line-height: 4rem;
  width: 100%;
  height: 4rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.A-containter .SHOP-containter section .SC-main-box-one .SC-main-box-one2 .SC-main-box-one1-left > img {
  width: 2.3rem;
  height: auto;
  background: none;
  margin-right: 10px;
}
.A-containter .SHOP-containter section .SC-main-box-one .SC-main-box-one2 .SC-main-box-one1-center {
  font-size: 1.6rem;
  -webkit-box-flex: 1;
}
.A-containter .SHOP-containter section .SC-main-box-one .SC-main-box-one2 .SC-main-box-one1-right > img {
  width: 1rem;
  height: auto;
  background: none;
}
.A-containter footer {
  width: 100%;
  height: 4.7rem;
  background: #ffffff;
  border-top: 1px solid #bfbfbf;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.A-containter footer .SY-bottom-tab {
  width: 0;
  padding-top: 4px;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  text-align: center;
}
.A-containter footer .SY-bottom-tab img {
  width: auto;
  height: 2.4rem;
  background: none;
}
.A-containter footer .SY-bottom-tab .unnormal-pic img {
  width: auto;
  height: 4rem;
  background: none;
}
.A-containter footer .bottom-or {
  color: #ff7d1b;
}
