@import url(reset.css);
.spc-24 {
  font-size: 24px;
  background: blue; }

.spc-16 {
  font-size: 16px;
  font-weight: bold; }

.spc-14 {
  font-size: 14px;
  color: white;
  font-weight: bold; }

.spc-20 {
  font-size: 20px;
  background: blue; }

.spc-12 {
  font-size: 12px;
  color: #a7a7a7; }

html, body, .box {
  width: 100%;
  height: 100%;
  background: none; }

html {
  font-size: 62.5%; }

.box {
  display: -webkit-box;
  -webkit-box-orient: vertical; }
  .box header {
    width: 100%;
    height: 4rem;
    background: #1b82d2;
    display: -webkit-box;
    -webkit-box-orient: horizontal; }
    .box header h1 {
      -webkit-box-flex: 1;
      text-align: center;
      line-height: 4rem; }
    .box header .header_list {
      width: 3.3rem;
      height: 4rem;
      background: none; }
      .box header .header_list img {
        box-sizing: border-box;
        padding: 15px 5px; }
  .box section {
    overflow-y: auto;
    -webkit-box-flex: 1;
    padding-bottom: 27px;
    width: 100%;
    height: 100%;
    background: #ebeeef; }
    .box section .sect_title {
      display: -webkit-box;
      -webkit-box-orient: horizontal;
      padding: 8px 9px;
      box-sizing: border-box;
      width: 100%;
      height: 68px;
      background: white; }
      .box section .sect_title dl {
        -webkit-box-flex: 1; }
        .box section .sect_title dl dt {
          float: left; }
          .box section .sect_title dl dt img {
            width: 56px;
            height: auto;
            background: none; }
        .box section .sect_title dl dd {
          float: left;
          padding-left: 9px; }
          .box section .sect_title dl dd p {
            padding-top: 5px; }
      .box section .sect_title .sect_title_right {
        position: relative;
        width: 43px;
        height: 100%;
        background: none; }
        .box section .sect_title .sect_title_right img {
          padding-top: 15px;
          width: 21px;
          height: auto;
          background: none; }
        .box section .sect_title .sect_title_right span {
          display: inline-block;
          width: 8px;
          height: 8px;
          background: none;
          border: 2px solid #c7c7cc;
          left: 10px;
          top: 14px;
          border-bottom: none;
          border-left: none;
          text-align: center;
          position: absolute;
          top: 19px;
          left: 27px;
          transform: rotateZ(45deg); }
    .box section .sect_main_one {
      margin-top: 17px;
      width: 100%;
      height: auto;
      background: white;
      padding-left: 8px;
      box-sizing: border-box; }
      .box section .sect_main_one ul {
        width: 100%;
        height: auto;
        background: none; }
        .box section .sect_main_one ul li {
          width: 100%;
          height: 3.3rem;
          background: none;
          border-bottom: 1px solid #EEEEEE;
          line-height: 3.3rem;
          box-sizing: border-box; }
          .box section .sect_main_one ul li span {
            display: block;
            width: 8px;
            height: 8px;
            background: none;
            border: 2px solid #c7c7cc;
            left: 10px;
            top: 14px;
            float: right;
            margin-right: 15px;
            border-bottom: none;
            border-left: none;
            margin-top: 15px;
            transform: rotateZ(45deg); }
          .box section .sect_main_one ul li img {
            width: 16px;
            height: auto;
            background: none;
            padding-right: 14px;
            vertical-align: middle; }
          .box section .sect_main_one ul li:nth-child(4) {
            border-bottom: none; }
    .box section .sect_main_two {
      margin-top: 17px;
      width: 100%;
      height: auto;
      background: white;
      padding-left: 8px;
      box-sizing: border-box; }
      .box section .sect_main_two ul {
        width: 100%;
        height: auto;
        background: none; }
        .box section .sect_main_two ul li {
          width: 100%;
          height: 3.3rem;
          background: none;
          border-bottom: 1px solid #EEEEEE;
          line-height: 3.3rem;
          box-sizing: border-box; }
          .box section .sect_main_two ul li span {
            display: block;
            width: 8px;
            height: 8px;
            background: none;
            border: 2px solid #c7c7cc;
            left: 10px;
            top: 14px;
            float: right;
            margin-right: 15px;
            border-bottom: none;
            border-left: none;
            margin-top: 15px;
            transform: rotateZ(45deg); }
          .box section .sect_main_two ul li img {
            width: 16px;
            height: auto;
            background: none;
            padding-right: 14px;
            vertical-align: middle; }
          .box section .sect_main_two ul li:nth-child(4) {
            border-bottom: none; }
        .box section .sect_main_two ul .bottom_li {
          border-bottom: none; }
  .box footer {
    width: 100%;
    height: 4rem;
    background: none;
    display: -webkit-box;
    -webkit-box-orient: horizontal; }
    .box footer dl {
      -webkit-box-flex: 1;
      text-align: center;
      padding: 5px; }

/*# sourceMappingURL=style.css.map */
